body.theme1 {
  --clr-bg: #3b4664;
  --clr-text: #fefffa;
  --clr-display-bg: #181f32;
  --clr-button: #eae3db;
  --clr-primary: #d13f30;
  --clr-secondary: #636e91;
  --clr-button-text: var(--clr-display-bg);
  --clr-button-text-alt: #fefeff;
  --clr-calculator: #252d44;
  --clr-btn-shadow: #b5a49a;
  --clr-secondary-shadow: #414e71;
  --clr-primary-shadow: #992315; }

body.theme2 {
  --clr-bg: #e6e6e6;
  --clr-text: #353529;
  --clr-display-bg: #eeeeee;
  --clr-button: #e5e4e0;
  --clr-primary: #c85401;
  --clr-secondary: #388187;
  --clr-button-text: var(--clr-text);
  --clr-calculator: #d3cdcd;
  --clr-btn-shadow: #a69c90;
  --clr-secondary-shadow: #1c6166;
  --clr-primary-shadow: #893a02; }

body.theme3 {
  --clr-bg: #17062a;
  --clr-text: #ffe234;
  --clr-display-bg: #1e0836;
  --clr-button: #331b4d;
  --clr-primary: #00d9ce;
  --clr-secondary: #59057e;
  --clr-button-text: var(--clr-text);
  --clr-button-text-alt: #fff9ff;
  --clr-calculator: #1e0836;
  --clr-btn-shadow: #841d9c;
  --clr-secondary-shadow: #be15f3;
  --clr-primary-shadow: #6df7ef;
  --clr-text-equals: #000000; }

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--clr-text); }

body {
  background-color: var(--clr-bg); }

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.calculator {
  width: 547px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px; }
  .header .theme-selector-wrapper {
    display: flex;
    font-size: 0.8em;
    font-weight: 800; }
    .header .theme-selector-wrapper .theme-numbers {
      display: flex;
      justify-content: space-between;
      margin: 0 auto 4px;
      width: 80%; }
    .header .theme-selector-wrapper .selector {
      position: relative;
      width: 64px;
      height: 24px;
      background-color: var(--clr-calculator);
      border-radius: 24px;
      cursor: pointer; }
      .header .theme-selector-wrapper .selector:before {
        content: "THEME";
        position: absolute;
        left: -100%;
        top: 50%;
        transform: translateY(-50%);
        letter-spacing: 1px; }
      .header .theme-selector-wrapper .selector:after {
        content: "";
        height: 16px;
        width: 16px;
        background-color: var(--clr-primary);
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 16px;
        transition: left 0.2s ease; }

.display {
  height: 130px;
  width: 100%;
  background-color: var(--clr-display-bg);
  margin-bottom: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--clr-button-text-alt);
  font-size: 48px;
  font-weight: bold;
  padding: 0 32px;
  position: relative; }
  .display #display-op {
    position: absolute;
    right: 1em;
    top: 0.5em;
    opacity: 0.4;
    font-size: 18px !important; }

.buttons {
  position: relative;
  background-color: var(--clr-calculator);
  height: 464px;
  border-radius: 8px;
  padding: 32px; }
  .buttons .button-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 58px);
    grid-template-areas: "7 8 9 delete" "4 5 6 +" "1 2 3 -" ". 0 / x" "reset reset equals equals";
    gap: 27.5px; }
    .buttons .button-grid div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--clr-button);
      color: var(--clr-button-text);
      border-radius: 8px;
      font-size: 32px;
      font-weight: bold;
      filter: drop-shadow(0px 4px 0px var(--clr-btn-shadow));
      cursor: pointer; }
      .buttons .button-grid div.delete, .buttons .button-grid div.reset {
        background-color: var(--clr-secondary);
        filter: drop-shadow(0px 4px 0px var(--clr-secondary-shadow)); }
      .buttons .button-grid div.equals {
        background-color: var(--clr-primary);
        filter: drop-shadow(0px 4px 0px var(--clr-primary-shadow));
        color: var(--clr-text-equals, --clr-button-text-alt); }
      .buttons .button-grid div.reset {
        grid-column: 1 / span 2; }
      .buttons .button-grid div.equals {
        grid-column: 3 / span 2; }
      .buttons .button-grid div.delete, .buttons .button-grid div.reset {
        color: var(--clr-button-text-alt);
        font-size: 24px; }

body.theme2 .selector:after {
  left: calc(50% - 8px) !important; }

body.theme3 .selector:after {
  left: calc(100% - 20px) !important; }

@media all and (max-width: 650px) {
  .calculator {
    width: 387px; }
    .calculator .buttons {
      height: 478px; }
    .calculator .display {
      height: 88px; }
    .calculator .button-grid {
      grid-template-columns: repeat(4, 60px);
      grid-template-rows: repeat(5, 60px); }
      .calculator .button-grid div {
        width: 60px;
        height: 60px; }
        .calculator .button-grid div.reset, .calculator .button-grid div.equals {
          width: 100%; }
  .display {
    font-size: 32px; } }
